.view-port {
    display: flex;
}
.controll-panel {
    position: relative;
}
.item-panel {
    padding: 16px;
}
.loading {
    position: absolute;
    height: 100%;
    top: 0;
    width: 100%;
    z-index: 10;
    background: #0000003d;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
    padding: 16px;
    border: 1px solid;
    overflow-y: scroll;
    height: calc(100vh - 200px);
}